<script type="text/javascript">
    $(document).ready(function(){
        $('span.category').click(function(){
            var tr =$(this);
            var currentCategory = tr.attr('data-category');
            filterByCategoryName(currentCategory);

        });
    });


    function filterByCategoryName(category) {
        $('.hidden').removeClass('hidden');

        $('.post-wrapper').each((index, elem) => {

            console.log();
            if(!elem.hasAttribute('data-'+ category)){
            $(elem).addClass('hidden');
            };
        });
        // $('.hidden').removeclass;
        // $('.post-wrapper').each((index, elem) => {
        //     if (!elem.hasAttribute(`data-${tagName}`)) {
        //         $(elem).addClass('hidden');

    };

//     $(`.category`).removeClass('selected');
//     $(`.tag[data-category=${CategoryName}]`).addClass('selected');
// }
</script>

