<p class="post-date text-bold">
  {% if page.author %}
    <span class="text-upcase">{{ page.author }}</span> / 
  {% endif %}
  {% if page.date %}
    <span class="text-upcase">{{ page.date | date: "%B %Y"}}</span>
  {% endif %}

{% if site.theme_config.show_reading_time == true %}
  {% capture words %}
  {{ content | number_of_words | minus: 180 }}
  {% endcapture %}
  {% unless words contains '-' %}
  {{ words | strip | prepend: '(' | append: ' Words, ' }}
  {{ words | plus: 180 | divided_by: 180 | append: ' Minutes)' }}
  {% endunless %}
{% endif %}
</p>

<div class="soopr-btn"
   data-twitter="SooprCo"
>
</div>

{% if site.theme_config.show_tags == true %}
    {% for tag in page.tags %}
              {% for item in site.data.tags.tag_entries %}
                      {% if item.title == tag %}
      <span class="tag" data-tag="{{tag}}"  ><a href="{{ item.url }}" style="color: gray;"> {{ tag }} </a></span>
                      {% endif %}
              {% endfor %}
    {% endfor %}
{% endif %}
